<div class="container">
  <h5 class="mb__sm text__grey empty__state"><%= t('.all_users') %></h5>
  <div class="user__all" >
    <% @users.each do |user| %>
    <a href="<%= user_path(user) %>">
      <p  class="text__bold" ><%= image_tag user.gravatar_url, title: "@#{user.nickname}", class: 'rounded' %></p>
    </a>
    <% end %>
  </div>
</div>
