<div class="container">
  <h2 class="title__lg mb__sm">New questions</h2>
  <p class="mb">for <%= link_to display_nickname(@user), user_path(@user) %></p>
  <%= render 'form', question: @question %>
</div>
