<div class="container">
  <h2 class="title__lg mb">Q u e s t i o n s  - <%= @question.id %></h2>
  <p class="mt__sm"><%= link_to "All questions", questions_path %></p>
</div>

<div class="container mt__sm">
  <%= render 'question', question: @question %>
</div>
