<h1><%= t '.welcome_to_site' %></h1>
<p><b><%= @user.nickname.capitalize %></b>, вы успешно прошли регистрацию.</p>

<hr>

<p>Для входа на сайт подтвердите вашу почту: <%= link_to (@url), confirm_email_user_url(@user.confirm_token) %>.</p>
<p>Благодарим что вы с нами и удачного дня!</p>
