<h1><%= t '.user_update_date_account' %></h1>
<p><b><%= @user.nickname.capitalize %></b>, недавно вы обновили данные на своём акаунте.</p>

<hr>

<p>Если это были не вы, то пожалуйсто поменяйте свой пароль на: <%= link_to t(".site"), @url %></p>
<p>Благодарим что вы с нами и удачного дня!</p>