<h1><%= t '.welcome_to_site' %></h1>
<p><b><%= @user.capitalize %></b>, вы успешно прошли регистрацию.</p>

<hr>

<p>Для входа на сайт просто перейдите по этой ссылке: <%= link_to "Site", @url %>.</p>
<p>Благодарим что вы с нами и удачного дня!</p>
