<% background_class = "users__box__user__bg#{user.id % 5}" %>

<div class="users__box__user <%= background_class %> rounded mr ml">
  <a href="<%= user_path(user) %>">
    <%= image_tag user.gravatar_url, title: "@#{user.nickname}", class: 'rounded' %>
  </a>
</div>