<div class="mt__lg mb__lg empty__state">
  <h2 class="title__lg text__grey">Oops, question field is empty....</h2>
  <%= image_tag("seach.png", alt: "Ask me?", class: "menu__icon__opacity") %>
  <h2 class="text__grey title__sm mb__md">Send a message to your new friends</h2>
  <h2 class="title__sm mb__md">Register and ask</h2>
  <%= link_to "Registration", new_user_path, class: "button button__blue" %>
</div>
