<div class="mt__sm mb__lg empty__state container">
  <h2 class="title__lg text__grey">No one wrote to you...</h2>
  <%= image_tag("seach.png", alt: "Ask me?", class: "menu__icon") %>
  <h2 class="text__grey title__md mb__md">Write first.</h2>
  <%= link_to "Add question", users_path(@users), class: "button button__blue" %>
</div>
