<div class="mt__lg mb__lg empty__state">
  <h2 class="title__lg mb__lg text__grey">Oops, question field is empty....</h2>
  <%= image_tag("seach.png", alt: "Ask me?", class: "menu__icon") %>
  <h2 class="text__grey title__md mt__lg mb__md">Ask a question, be the first!!!</h2>
  <%= link_to "Add question", users_path, class: "button button__blue" %>
</div>