<div class="container">
<h2 class="mb"><%= link_to @hashtag.name %></h2>

  <% @questions.each do |question| %>
    <p class="g"><%= question.body %><p>
  <% end %>
  
<p class="mt"><%= link_to "All questions", questions_path %></p>
</div>
