.button {
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 13px 7px;
  text-decoration: none;
}

.button__main {
  background-color: #97150C;
}

.button__main:hover {
  background-color: #6d110a;
  color: rgb(255, 255, 255);
}

.button__yellow {
  background-color: #d88416;
}

.button__yellow:hover {
  background-color: #f5b380;
  color: rgb(255, 255, 255);
}

.button__blue {
  font-size: 18px;
  background-color: rgba(8, 127, 148, 0.821);
  padding: 15px 30px;
}

.button__blue:hover {
  background-color: rgba(118, 215, 215, 0.814);
}
