.message {
  border: 1px solid #d0d0d0d0;
  padding: 10px 15px;
}

.message__notice {
  background-color: rgb(91, 147, 12);
  border-color: rgb(191, 213, 23);
  padding: 20px;
}

.message__alert {
  background-color: rgb(211, 136, 38);
  border-color: rgb(193, 27, 27);
  padding: 20px;
}
