body {
  color: #03071E;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a,
button {
  color: #cd5616;
}

a:hover {
  color: #d4847dbc;
}

.title__lg {
  font-size: 175%;
}

.title__md,
.title {
  font-size: 150%;
}

.title__sm {
  font-size: 125%;
}

.text__sm {
  font-size: 80%;
}

.text__grey {
  color: #a0a0a0;
}

.text__bold {
  font-weight: bold;
}

.text__red {
  color: rgb(120, 13, 13);
}

a,
.mr__sm,
.text__bold {
  text-decoration: none;
}

a,
.mr__sm,
.text__bold:hover {
  text-decoration: underline;
}

.text__pre__line {
  white-space: pre-line
}

.text__dark__red {
  color: rgb(121, 11, 11)
}
