.users-box-user-bg0 {
  border: 3px solid #d00000;
}

.users-box-user-bg1 {
  border: 3px solid #03071E;
}

.users-box-user-bg2 {
  border: 3px solid #ffba08;
}

.users-box-user-bg3 {
  border: 3px solid #6A040F;
}

.users-box-user-bg4 {
  border: 3px solid #f48c06;
}

.rounded {
  background-color: #959595;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.rounded:hover {
  border: 1px solid #868686;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

